package ${package};

// Model class imports
#foreach ( $class in $classes )
#if ( $class.getMetadata( $storeClassMetadataId ).isStorable() && ${class.packageName} != ${package} )
import ${class.packageName}.${class.name};
#end
#end

/**
 * Generated ModelloMetadata class for ${model.name}.
 *
 * @author Mr Modello
 */
public class ${model.name}ModelloMetadata
{
    private String modelVersion;

    public String getModelVersion()
    {
        return modelVersion;
    }

    public void setModelVersion( String modelVersion )
    {
        this.modelVersion = modelVersion;
    }
}
