<?xml version="1.0"?>

<!DOCTYPE hibernate-mapping PUBLIC
    "-//Hibernate/Hibernate Mapping DTD//EN"
    "http://hibernate.sourceforge.net/hibernate-mapping-2.0.dtd">

<hibernate-mapping>
#foreach ( $class in $model.allClasses )
#if ( $class.getMetadata( $storeMetadataId ).isStorable() )
  <!--
   | $class.name
   |-->
  <class
    name="$package.$class.name">
#*
    <id name="id" type="java.lang.String">
      <generator class="uuid.hex"/>
    </id>
*#
#foreach ( $field in $class.getFields( $version ) )
    <property
      name="$field.name"
      type="$field.type"/>
#end
  </class>
#end

#end
</hibernate-mapping>
